.app-header {
    background-color: var(--primary-clr-300);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    cursor: pointer;
}

.logo img {
    width: 90px;
}

.header-nav {
    display: flex;
}

.header-nav .nav {
    text-decoration: none;
    height: 80px;
    display: flex;
    align-items: center;
}

.app-header .search-line {
    align-self: left;
    width: 50%;
    position: absolute;
    left: 160px;
}