.user-mails {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 10px;
    padding: 5px;
}

.email-board {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas:
        "bar mail";
}

.email-list {
    grid-area: mail;
}

.count-unread {
    grid-area: bar;
}

.email-list table {
    width: 100%
}
.email-preview{
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%)
}
.email-preview :hover {
    box-shadow: inset 0 -1px 0 0 rgba(27, 31, 35, 0.12);
    cursor: pointer;
}

.user-mails img {
    width: 15px;
}

.new-mail img {
    width: 20px;
}


.new-mail {
    color: #3c4043;
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid var(--primary-clr-400);
    font-size: 17px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.details h1{
    font-size: 25px;
}

.bar{
    display:flex;
    flex-direction: column;
    margin:10px;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%)
}
.bar a{
    text-decoration: none;
    color:  #202124;
    /* font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; */
    font-size: .875rem;
    letter-spacing: .2px;
    font-weight: 700;
}

.bar a:hover{
    color:red;
}

.bar img{
    width:18px
}

.count-unread div{
    color:  #202124;
    font-size: .875rem;
    letter-spacing: .2px;
}

td{
    width: 100px;
    font-weight: 700;
    line-height: 20px;
}
 td:nth-child(2){
     flex-grow: 1;
     text-align: center;
 }