.user-mails {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 5px 0;
}

.email-board {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas:
        "bar mail";
}

.email-list {
    grid-area: mail;
    border-right: 1px solid var(--primary-clr-300);
    border-left: 1px solid var(--primary-clr-300);
    border-top: 1px solid var(--primary-clr-300);
}


.count-unread {
    grid-area: bar;
}

.email-list table {
    width: 100%
}

.email-preview {
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%)
}

.email-preview :hover {
    background-color: #dcdcdc;
    cursor: pointer;
}

.user-mails img {
    width: 15px;
}

.new-mail img {
    width: 20px;
}


.new-mail {
    color: #3c4043;
    padding: 10px;
    border-radius: 25px;
    margin: 10px 0;
    cursor: pointer;
    border: 2px solid var(--primary-clr-400);
    font-size: 17px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    height: 50px;
    padding: 15px;
    background-color: #E8E8E8;
}

.details h1,
.details h3 {
    font-size: 15px;
}

.bar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%)
}

.bar a {
    text-decoration: none;
    color: #202124;
    /* font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; */
    font-size: .875rem;
    letter-spacing: .2px;
    font-weight: 700;
}

.bar a:hover {
    color: red;
}

.bar img {
    width: 18px
}

.count-unread div {
    color: #202124;
    font-size: .875rem;
    letter-spacing: .2px;
}

td {
    width: 6.25rem;
    font-weight: 700;
    line-height: 20px;
}

td:nth-child(2) {
    flex-grow: 1;
    text-align: center;
}

@media (max-width:750px){
    .email-board {
        display: flex;
        flex-direction: column;
    }

    .bar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    td:nth-child(5) {
        width:50px;
         text-align: center;
     }
    td:nth-child(4) {
       width:50px;
        text-align: center;
    }
    td:nth-child(3) {
        width:50px;
         text-align: center;
     }
     td:nth-child(6) {
        width:70px;
         text-align: center;
     }
}