.send-mail {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    align-items: center;
    /* height: 100vh; */
    width: 100%;
    background-color: var(--primary-clr-500);
}

.send-mail-container {
    background-color: var(--primary-clr-300);
    width: 90%;
    max-width: 500px;
    /* position: relative; */
    /* height: 250px; */
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px var(--primary-clr-400);
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.label-container {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

.label-container input,
.label-container textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid var(--primary-clr-400);
    margin-top: 5px;
}

textarea {
    resize: vertical;
}

.send-mail .send .submit-email-btn {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    /* margin-left: 42px; */
    background-color: var(--primary-clr-800);
    color: var(--primary-clr-300);
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    transition: .3s ease background-color;
}

.send-mail .send .submit-email-btn:hover {
    background-color: var(--primary-clr-600);
}
.exit-mail {
    background-color: #232b2b;
    color: white;
    height: 40px;
    width: 80px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    transition: .1s;

}

.exit-mail:hover {
    background-color: #171c1c;
}

.send-mail header {
    color: var(--primary-clr-300);
    background-color: var(--primary-clr-600);
    height: 40px;
    width: 100%;
    font-size: 24px;
    padding: 5px;
}

.send-mail .send {
    margin-top: 20px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.label-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* .send-mail .send .submit-email-btn {
    cursor: pointer;
    background-color: #3CB371;
    border: none;
    width: 60%;
    align-self: center;
    /* position: absolute; */
    /* border-radius: 2px;
    transition: .1s;
} */ 


.send-mail .send img {
    width: 30px
}