.user-msg {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 20px;
    /* border: 1px solid black; */
    /* background: white; */
    display: none;
    background: var(--primary-clr-800);
    color: var(--primary-clr-300);
}

.user-msg.shown {
    display: block;
}

/* .user-msg.success {
} */

/* .user-msg.danger {
    background: var(--primary-clr-800);
    color: var(--primary-clr-300);
} */