:root {
    --primary-clr-100: rgb(255, 255, 255);
    --primary-clr-200: rgb(248, 248, 248);
    --primary-clr-300: rgb(240, 240, 240);
    --primary-clr-500: rgb(155, 155, 155);
    --primary-clr-600: rgb(96, 96, 96);
    --primary-clr-800: rgb(41, 41, 41);
    --primary-clr-900: rgb(0, 0, 0);
}