.note-todos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-todos h1 {
    font-size: 1.3rem;
    text-align: center;
    padding: 10px 20px 20px 20px;
}

.todos-list {
    list-style-type: none;
    margin: 0;
    cursor: pointer;
}

.todos-list li {
    margin: 0;
}

.todos-list li button {
    margin-right: 30px;
}

.mark {
    text-decoration: line-through;
}

.add-task-form {
    align-self: center;
    margin-top: 30px;
}

.add-task-form form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}

.add-task-form form input {
    outline: none;
}