.notes-list {
    margin: 30px auto 0;
    column-count: 4;
    column-gap: 15px;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 1110px;
}

.note-preview {
    background-color: var(--cards-clr-100);
    height: 100%;
    width: 250px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
}

.note-preview:hover {
    box-shadow: 0 0 10px var(--primary-clr-500);
    cursor: grab;
}

.btn-container {
    padding: 5px;
    width: 100%;
    height: 40px;
    display: flex;
    padding-inline-end: 10px;
    justify-content: right;
    position: relative;
}

.note-preview .note-btn {
    width: 17px;
    height: 20px;
    cursor: pointer;
    transition: opacity .2s;
}

.note-btn.not-pinned {
    opacity: 0.5;
}

.note-btn.pinned {
    opacity: 1;
}

.note-preview .note-btn:hover {
    opacity: 0.8;
}

.note-todos {
    position: relative;
    padding-bottom: 40px;
}

.note-todos h1 {
    font-size: 0.875em;
    text-align: center;
    padding-bottom: 5px;
}

.todo {
    font-size: 0.875rem;
    cursor: pointer;
}

.todo-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
}

.todo.done {
    text-decoration: line-through;
}

.note-img img {
    width: 100%;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.note-img {
    width: 100%;
    padding-bottom: 30px;
}

.note-img h1 {
    text-align: center;
    margin: 10px;
    font-size: 1rem;
}

.color-input {
    cursor: pointer;
    z-index: 5;
    opacity: 0;
    position: absolute;
    right: 87px;
    width: 10px;
}

.note-video {
    padding: 10px;
}

.note-video iframe {
    border: none;
    width: 100%;
    margin: 0 0 50px;
}

@media (max-width: 640px) {

    .notes-list {
        column-count: 1;
        width: 315px;
    }

}

@media (min-width: 641px) {

    .notes-list {
        column-count: 2;
        width: 641px;
    }
}

@media (min-width: 900px) {

    .notes-list {
        column-count: 3;
        width: 900px;
    }
}

@media (min-width: 1200px) {

    .notes-list {
        column-count: 4;
        width: 1200px;
    }
}