.pinned-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3);
    margin: 30px auto;
    grid-gap: 30px;
    padding-left: 4rem;
    padding-right: 4rem;

}