* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: whitesmoke;
    font-family: lato;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}