.user-msg {
    position: fixed;
    z-index: 5;
    bottom: 20px;
    left: 20px;
    width: 300px;
    height: 60px;
    padding: 20px;
    background: var(--primary-clr-800);
    display: none;
    box-shadow: 1px 1px 3px black;
    color: white;
}

.user-msg .exit-modal {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    border: none;
    background-color: rgb(8, 8, 8);
    color: white;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    transition: opacity .1s;
}

.user-msg .exit-modal:hover {
    opacity: 0.8;
}

.user-msg .fa-times {
    font-size: 0.8rem;
}

.user-msg.shown {
    display: block;
}

.user-msg.success {
    background: var(--primary-clr-800);
    border-radius: 10px;
   
}

.user-msg.danger {
    background: var(--primary-clr-800);;
    border-radius: 10px;
    
}